    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper height-400">
                    <div id="particles-js" style="background-image:url({{ site.baseurl }}{{ page.slider_image }}); background-position: left center">
                        <div class="slider-fixed-text">
                            <p class="flying-text">
                                You don’t need to be a <span>genius</span> to learn about physics!<br>
                                Sometimes you just need someone to help you navigate through all the jargon.
                            </p>
                            <p class="flying-text optional pt-2">
                                And that’s what I am trying to do here:<br>
                                I will write short articles about new, cutting-edge physics papers, putting them into words that <span>everyone</span> can understand!<br>
                                Because everyone should have the chance to enjoy the wonder and <span>beauty</span> of physics!</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->