---
layout: default
---
<div class="appix-blog-content section-ptb">
  <div class="container">
      <div class="row">
<h2 class="mb-5">{{ page.title }}</h2>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}
{% assign posts = site.categories[page.category] | size %}
{% unless posts > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}
      </div>
      <div class="row">
        {% assign catposts = site.categories[page.category] %}
        {% include post_loops.html posts=catposts %}
      </div>
</div>
</div>
